h1{
    color: gray;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    bottom: 50%;
  }

  .image img{
    margin-left: 0;
    width: 65%;
    position: absolute;
  }

  .image img:hover {
    transform: scaleX(-1);
  }

  .form-content{
    display: flex;
    justify-content: space-between;
 }
  
  .login {
    padding: 10% 2% 13.4% 2%;
    /* padding-bottom: 13.4%; */
    width: 35%;
    height: 100%;
    background-color: gray;
    box-sizing: border-box;
    box-shadow: 0 15px 25px black;
    /* border-radius: 10px; */
    position: relative;
  }
  
  .login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .user-details {
    position: relative;
  }

  .user-details input{
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: transparent;
  }

  button{
    border-radius: 20px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  
  button:hover {
    opacity: 0.8;
  }
  